@using BookStore2019.Services
@using ValuesObject
@{
    SachService sachService = new SachService();
    ChuDeService chuDeService = new ChuDeService();
    var listCate = chuDeService.GetAllByParentId(new OChuDe { ParentId = 1 });
    //var listCateDD = chuDeService.GetAllByParentName("do-dung-hoc-tap");
    var listHot = sachService.GetHot(true);
    Layout = null;
}
<div class="col-sm-3 cate-pro">
    <div class="categories">
        <div class="titleCate">
            <h4>Danh mục</h4>
        </div>
        <ul class="menuCate">
            @if (listCate.Count > 0 && listCate != null)
            {
                foreach (var item in listCate)
                {
                    <li><a href="@Url.Action("GetByCate","Sach",new { id=item.MaChuDe})">@item.Ten</a></li>
                }
            }
        </ul>
    </div>
    @*<div class="categories">
            <div class="titleCate">
                Đồ dùng học tập
            </div>
            <ul class="menuCate">
                @if (listCateDD.Count > 0 && listCateDD != null)
                {
                    foreach (var item in listCateDD)
                    {
                        <li><a href="@Url.Action("GetByCate","Sach",new { id=item.MaChuDe})">@item.Ten</a></li>
                    }
                }
            </ul>
        </div>*@
    <div class="pro-hot">
        <div class="titleCate">
            <h4>Sản phẩm HOT</h4>
        </div>
        @if (listHot.Count > 0 && listHot != null)
        {
            foreach (var item in listHot.Take(3))
            {
                <div class="pro-item">
                    <a href="@Url.Action("Detail","Sach",new { shortname=item.TenVanTat})">
                        <div class="pro-item">
                            <img src="@item.Anh" alt="Alternate Text" height="100" />
                        </div>
                        <div class="pro-des">
                            <p>@item.TenSach</p>
                            <h4 class="price-old">@String.Format("{0:#,##0.##}", item.GiaBan) VND</h4>
                            <h4 class="price-sale">
                                <strong>
                                  
                                    @String.Format("{0:#,##0.##}",item.GiaBan- item.GiaBan * item.Sale / 100) VND
                                </strong>
                            </h4>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>



