@using ValuesObject
@using BookStore2019.Services
@{ 
    HtmlPageService htmlPageService = new HtmlPageService();
    var listDichVu = htmlPageService.GetByCateShortName("dich-vu");
    var listHoTro = htmlPageService.GetByCateShortName("ho-tro");
}
<div class="email-footer clearfix">
    <div class="container">
        <div class="col-4 img-email">
            <img src="@Url.Content("/Images/icon_email.png")" alt="Alternate Text" height="40" />
            Đăng ký nhận tin từ chúng tôi
        </div>
        <div class=" col-8 form-inline divFormMail">
            <input type="email" name="email" id="email" value="" placeholder="Email " class="form-control col-6" />
            <button type="submit" class="btn btn-success" onclick="_send()">Gửi</button>
        </div>
    </div>
</div>
<div class="footer">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3>Dịch vụ</h3>
                <div class="body-item">
                    <ul>
                        @if (listDichVu.Count > 0 && listDichVu != null)
                        {
                            foreach (var item in listDichVu)
                            {
                                <li>
                                    <a href="@Url.Action("Detail","Html",new { shortname=item.TenVanTat})">@item.TenTrang</a>
                                </li>
                            }
                        }

                        @*<li>
                            <a href="@Url.Action("Detail","Html")">Điều khoản sử dụng</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Detail","Html")">Giới thiệu SachHay</a>
                        </li>*@
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h3>Hỗ trợ</h3>
                <div class="body-item">
                    <ul>
                        @if (listHoTro.Count > 0 && listHoTro != null)
                        {
                            foreach (var item in listHoTro)
                            {
                                <li>
                                    <a href="@Url.Action("Detail","Html",new { shortname=item.TenVanTat})">@item.TenTrang</a>
                                </li>
                            }
                        }
                        @*<li>
                            <a href="@Url.Action("GetById","Html")">Chính sách đổi - trả - hoàn tiền</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GetById","Html")">Hình thức vận chuyển</a>
                        </li>*@

                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h3>Thông tin liên hệ</h3>
                <div class="body-item">
                    <ul>
                        <li>
                            <span>
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                Số 123 Cầu Giấy, Hà Nội
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fas fa-phone-volume fa-2x"></i>
                                0353094775
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fab fa-facebook fa-2x"></i>
                                https://www.facebook.com/
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="far fa-envelope fa-2x"></i>
                                https://www.gmail.com/
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright 2019 Sach Hay </p>
    </div>
</div>
<script>
        function _send() {
            //debugger;
        var email = $("#email").val();
        var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
        if (email == null && email == "") {
            alert("Bạn cần nhập địa chỉ email");
            return false;
        }
        if (reg.test(email) == false) {
            alert("Email không đúng định dạng!");
            return false;
        }
        $.ajax({
                url: '@Url.Action("SendMail", "Home")',
            data: {
                email: email
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    debugger;
                    if (data.Success) {
                        alert("Cảm ơn bạn đã gửi email nhận tin cho chúng tôi!");
                    } else {
                        alert("Gửi email thất bại!");
                    }
                }
            });
    }
</script>