
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3>Dịch vụ</h3>
                <div class="body-item">
                    <ul>
                        <li>
                            <a href="@Url.Action("GetById","HtmlPages")">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GetById","HtmlPages")">Điều khoản sử dụng</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GetById","HtmlPages")">Giới thiệu SachHay</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h3>Hỗ trợ</h3>
                <div class="body-item">
                    <ul>
                        <li>
                            <a href="@Url.Action("GetById","HtmlPages")">Chính sách đổi - trả - hoàn tiền</a>
                        </li>
                        <li>
                            <a href="@Url.Action("GetById","HtmlPages")">Hình thức vận chuyển</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <h3>Thông tin liên hệ</h3>
                <div class="body-item">
                    <ul>
                        <li>
                            <span>
                                <i class="fas fa-map-marker-alt fa-2x"></i>
                                Số 123 Cầu Giấy, Hà Nội
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fas fa-phone-volume fa-2x"></i>
                                0353094775
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fab fa-facebook fa-2x"></i>
                                https://www.facebook.com/
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="far fa-envelope fa-2x"></i>
                                https://www.gmail.com/
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright 2019 Sach Hay </p>
    </div>
</div>
