@using BookStore2019.Services
@using ValuesObject
@model List<OChuDe>
@{
    ViewBag.Title = "Danh sách chủ đề";
    Layout = "~/Areas/Area/Views/Shared/_Layout.cshtml";
    ChuDeService chuDeService = new ChuDeService();
}
<div class="main-content-inner">
    <div class="breadcrumb" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li><a href="@Url.Action("Admin","Account")">Dashboard</a></li>
            <li class="active">Danh sách chủ đề</li>
        </ul>
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>Danh sách chủ đề </h1>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <table id="dynamic-table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="table_info">
                                <thead>
                                    <tr role="row">

                                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Tên danh mục cha: activate to sort column ascending">Tên</th>
                                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Tên danh mục cha: activate to sort column ascending">Tên danh mục cha</th>
                                        <th class="sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Tên danh mục cha: activate to sort column ascending">Ghi chú</th>
                                        <th class="hidden-480 sorting" tabindex="0" aria-controls="dynamic-table" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
                                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label=""></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (OChuDe item in Model)
                                    {
                                        <tr role="row" class="odd">

                                            <td>@item.Ten</td>
                                            <td>
                                                @if (item.ParentId != 0)
                                                {
                                                    var parent = chuDeService.Get(new OChuDe { MaChuDe = item.ParentId });
                                                    <span>@parent.Ten</span>
                                                }
                                                else
                                                {
                                                    <span></span>
                                                }
                                            </td>
                                            <td>@item.GhiChu</td>
                                            <th class="hidden-480">
                                                @if (item.IsActive == true)
                                                {
                                                    <span class="label label-sm label-success">Active</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-sm label-danger">UnActive</span>
                                                }
                                            </th>
                                            <td>
                                                <div class="hidden-sm hidden-xs btn-group">
                                                    <a href="@Url.Action("UpdateCate", "QuanLySanPham", new { id = item.MaChuDe })" title="Update" class="btn btn-xs btn-info">
                                                        <i class="ace-icon fas fa-pen-alt bigger-120"></i>
                                                    </a>
                                                    <a href="javascript:" title="Delete" class="btn btn-xs btn-danger delete-prompt" onclick="Delete('@item.MaChuDe')">

                                                        <i class="ace-icon fa fa-trash bigger-120"></i>
                                                    </a>
                                                </div>

                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a href="@Url.Action("CreateCate","QuanLySanPham")" class="btn btn-success">Tạo mới</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    setAdminCurrentUrl('@Url.Action("SearchCate", "QuanLySanPham")');
</script>
<script type="text/javascript">
    jQuery(function ($) {
        var oTable1 =
            $('#dynamic-table')
                .dataTable({
                    bAutoWidth: false,
                    "aoColumns": [
                        null, null, null,null,
                        { "bSortable": false }
                    ],
                    "aaSorting": [],
                });
        $('[data-rel="tooltip"]').tooltip({ placement: tooltip_placement });


        function tooltip_placement(context, source) {
            var $source = $(source);
            var $parent = $source.closest('table')
            var off1 = $parent.offset();
            var w1 = $parent.width();
            var off2 = $source.offset();
            if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
            return 'left';
        }

    });
    function Delete(id) {
    if (id!=null) {
            bootbox.confirm({
                title: "Thông báo!",
                message: "Đồng ý xóa chủ đề: '" + id + "' ?",
                buttons: {
                    'cancel': {
                        label: 'Cancel',
                        className: 'btn mybtn-Button btnButton'
                    },
                    'confirm': {
                        label: 'OK',
                        className: 'btn mybtn-Button btnButton'
                    }
                },
                callback: function (result) {
                    //debugger;
                    if (result) {
                        var url = '@Url.Action("DeleteCate", "QuanLySanPham")';
                        //yêu cầu mã xác thực
                        var __RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
                        $.ajax({
                            url: url,
                            data: {
                                id: id,
                                __RequestVerificationToken: __RequestVerificationToken
                            },
                            type: 'post',
                            //dataType: 'json',
                            success: function (data) {
                                debugger;
                                if (data) {
                                    alert("Success!!!");
                                    window.location.href = window.location.href;

                                } else {
                                    _showErrorMsg123("Lỗi!",data.Detail);
                                }
                            }
                        });
                    }
                }
            });
        } else {
            alert("Chưa chọn bản ghi cần xóa!");
            return;
        }
    }

</script>
