@using ValuesObject
@using BookStore2019.Services
@using BookStore2019.Help
@model OChuDe
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Area/Views/Shared/_Layout.cshtml";
    var listCate = ViewBag.ListCate as List<OChuDe>;
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li><a href="@Url.Action("Admin", "Account")">Dashboard</a></li>
            <li><a href="@Url.Action("SearchCate", "QuanLySanPham")">Danh sách chủ đề</a></li>
            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <li class="active">Edit @Model.MaChuDe</li>
            }
            else
            {
                <li class="active">Tạo mới chủ đề </li>
            }
        </ul>

    </div>

    <div class="page-content">


        <div class="page-header">

            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <h1>
                    Sửa chủ đề id @Model.MaChuDe

                </h1>
            }
            else
            {
                <h1>
                    Tạo mới chủ đề

                </h1>
            }

        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
                            {
                                @Html.HiddenFor(mbox => mbox.MaChuDe)
                            }
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Tên:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        <input type="text" name="Ten" id="Ten" class="col-xs-12 col-sm-6" value="@Model.Ten" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Danh mục cha:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        @Html.DropDownList("MaChuDe", (IEnumerable<SelectListItem>)ViewBag.ListCate, htmlAttributes: new { @class = "form-control" })
                                        @*@Html.DropDownList("MaChuDe", (IEnumerable<SelectListItem>)ViewBag.ListCate, htmlAttributes: new { @class = "form-control"})*@
                                        @*@Html.ValidationMessageFor(model => model.MaChuDe, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Ghi chú:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        @Html.TextAreaFor(m => m.GhiChu)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @{var check = (bool)Model.TrangThai ? "checked" : "";}
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="TrangThai">Trạng thái:</label>

                                <div class="checkbox">
                                    <label>
                                        <input name="TrangThai" type="checkbox" class="ace" value="true" @check>

                                        <span class="lbl"> Ẩn/Hiện danh mục</span>
                                        <input name="TrangThai" type="hidden" value="false" />
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" value="Lưu" />
                        }
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<script type="text/javascript">
    $('textarea[class*=autosize]').autosize({ append: "\n" });
    $('textarea.limited').inputlimiter({
        remText: '%n character%s remaining...',
        limitText: 'max allowed : %n.'
    });
</script>

<script type="text/javascript">
    setAdminCurrentUrl('@Url.Action("UpdateCate", "QuanLySanPham")');
</script>

<style type="text/css">


    .pick-a-color-markup {
        margin: 0px 0px;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        $(".pick-a-color").pickAColor({
            showSpectrum: true,
            showSavedColors: true,
            saveColorsPerElement: true,
            fadeMenuToggle: true,
            showAdvanced: true,
            showBasicColors: true,
            showHexInput: true,
            allowBlank: true,
            inlineDropdown: true
        });

    });

</script>