@using BookStore2019.Services
@using ValuesObject
@model OSanPham
@{
    ViewBag.Title = "Chi tiết sản phẩm " + Model.TenSanPham;
    ChuDeService chuDeService = new ChuDeService();
    var category = chuDeService.Get(new OChuDe { MaChuDe = (int)Model.MaChuDe });
    var listTacGia = ViewBag.ListTacGia as List<OTacGia>;
    var listImage = ViewBag.ListImages as List<OImageSach>;
    var listOthers = ViewBag.ListOrther as List<OSanPham>;
}
<div class="show-menu">
    <div class="container">
        <ul class="menu-category">
            <li>
                <a href="@Url.Action("Index","Home")">Trang chủ</a>
            </li>
            @if (Model.IsSach == true)
            {
                <li>
                    <a href="@Url.Action("GetAllBook", "SanPham")">Sách</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@Url.Action("GetAllDoDung", "SanPham")">Đồ dùng học tập</a>
                </li>
            }
            <li>
                <a href="@Url.Action("GetByCate", "SanPham", new { shortnamecate = category.TenVanTat, isSach=Model.IsSach })">@category.Ten</a>
            </li>
            <li>
                <a href="@Url.Action("Detail", "SanPham", new { shortname = Model.TenVanTat})">@Model.TenSanPham</a>
            </li>
        </ul>
    </div>
</div>
<div class="content-top">
    @Html.Partial("Categories")
    <div class="col-sm-9">
        <div class="img-product">
            <img src="@Url.Content(Model.Anh)" alt="Alternate Text" class="img-fluid" />
            @if (listImage.Count > 0 && listImage != null)
            {
                <div class="list-image">
                    <div class="" id="lightGallery">
                        <a href="@Url.Content(Model.Anh)">
                            <img src="@Url.Content(Model.Anh)" class="" height="60" />
                        </a>
                        @foreach (var item in listImage)
                        {
                            <a href="@item.DuongDan">
                                <img src="@item.DuongDan" class="" height="60" />
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="info-detail">
            <h2>@Model.TenSanPham</h2>
            @if (Model.IsSach == true)
            {
                <span>
                    Tác giả:
                    @if (listTacGia.Count > 0 && listTacGia != null)
                    {

                        var lastItem = listTacGia.LastOrDefault();
                        string listTG = "";
                        foreach (var item in listTacGia)
                        {
                            if (item.Equals(lastItem))
                            {
                                listTG += item.Ten.ToString();
                            }
                            else
                            {
                                listTG += item.Ten.ToString() + " , ";
                            }

                        }
                        <strong>

                            <a href="#">
                                @listTG.ToString()
                            </a>
                        </strong>
                    }
                    else
                    {
                        <strong><a href="#"> Đang cập nhật </a></strong>
                    }
                </span>
                <br />
                <span>Nhà xuất bản: <strong>@Model.TenNXB</strong></span><br />
                <span>Năm xuất bản: @Model.NamXB</span><br />
                <span>Số trang: @Model.SoTrang</span><br />
                if (Model.DichGia != null || Model.DichGia != "")
                {
                    <p>Dịch giả: @Model.DichGia</p>
                }
            }
            @if (Model.SoLuong <= 0)
            {
                <p style="color:red;font-weight:bold;">Hết hàng</p>
            }
            @if (Model.TenNCC != null && Model.TenNCC != "")
            {
                <p>Nhà cung cấp: @Model.TenNCC</p>
            }
            else
            {
                <p>Nhà cung cấp: <strong>Đang cập nhật</strong></p>
            }

            @if (Model.KhuyenMai > 0)
            {
                <h4 class="price-old"> Giá bán: @String.Format("{0:#,##0.##}", Model.GiaBan)  VND</h4>
                <h4 class="price-sale">
                    <strong>

                        Giá khuyến mại:  @String.Format("{0:#,##0.##}", Model.GiaBan - Model.GiaBan * Model.KhuyenMai / 100) VND
                    </strong>
                </h4>

            }

            else
            {
                <h4 class="">Giá bán: @String.Format("{0:#,##0.##}", Model.GiaBan) VND</h4>
            }
            @if (Model.SoLuong <= 0)
            {
                <h3 class="color-h3" style="text-transform: uppercase;font-weight: bold;">Hết hàng</h3>
            }
            else
            {
                <div class="form-inline quality">
                    <input type="hidden" name="idpro" value="@Model.MaSanPham" />
                    <input type="number" name="quality" value="1" min="1" max="100" class="form-control col-6" pattern="^-?([0-9]*\.?[0-9]+|[0-9]+\.?[0-9]*)$" class=" form-control" />
                    <br />

                    <button type="button" class="btn btn-danger" id="addToCart" onclick="updateCart()">
                        <i class="fas fa-cart-plus"></i>
                        Chọn mua
                    </button>
                    <span class="error" id="mssg_@Model.MaSanPham"></span>
                </div>
            }

            <hr />

        </div>
        <div class="clearfix"></div>
        <div class="description-pro">
            <h3>Giới thiệu</h3>
            @MvcHtmlString.Create(Model.MoTa) <br />
        </div>
        <hr />
        <div class="clearfix"></div>
        <div class="orther_policy">
            <h3>Dịch vụ và khuyến mại liên quan</h3>
            <ul>
                <li>
                    - Hoàn tiền cho khách khi sản phẩm bị lỗi
                </li>
                <li>
                    - Thanh toán khi giao hàng
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>

    </div>
    <div class="clearfix"></div>


    @if (listOthers.Count > 0 && listOthers != null)
    {
        <div class="col-md-12 divOrther">
            <div class="orther_pro">
                <h3>Sản phẩm cùng loại</h3>
                <ul class="slider_orthers clearfix">

                    @foreach (var item in listOthers.Take(6))
                    {
                        <li class="col-6 col-sm-2 item_other">
                            <a href="@Url.Action("Detail", "SanPham", new { shortname = item.TenVanTat })">
                                <img src="@Url.Content(item.Anh)" alt="@item.TenSanPham" class="img-other" />
                            </a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    }

</div>
<div class="clearfix"></div>
<script>
    setAdminCurrentUrl('@Url.Action("Detail", "SanPham")', '@Url.Action("GetAll", "SanPham")');
</script>
<script>
    $(document).ready(function () {
        $('.fancybox').fancybox({
            //openEffect: 'elastic',
            //closeEffect: 'elastic',
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('.slider_pro').bxSlider({
            auto: true,
            adaptiveHeight: true,
            speed: 1000,
            pause: 7000,
            pager: false,
        });
        //$('.slider_orthers').bxSlider({
        //    auto: true,
        //    adaptiveHeight: true,
        //    speed: 1000,
        //    pause: 7000,
        //    pager: false,
        //    maxSlides: 6,
        //    moveSlides: 6,
        //    slideWidth: 200,
        //    slideMargin: 5,
        //    infiniteLoop: false
        //});
    });
</script>
<script>
    function updateCart() {
        //debugger;
        var quanlity = $("input[name='quality']").val();


        var idpro = $("input[name='idpro']").val();
        var msg = "#mssg_" + idpro;
        if (quanlity <= 0) {

            $(msg).text("Mời bạn nhập lại số lượng!");
            return false;
        }
        $(msg).text("");
            $.ajax({
                url: '@Url.Action("AddToCart", "ProductAction")',
                data: {
                    proid: idpro,
                    quanlity: quanlity
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {

                    if (data.Success) {
                        alert("Thêm sản phẩm vào giỏ hàng thành công!");

                        var totalItems = 0;
                        for (var i = 0; i < data.Cart.ListItem.length; i++) {
                            var Item = data.Cart.ListItem[i];
                            totalItems += Item.Quantity;
                        }
                        $("#totalItem").text(totalItems);
                        //debugger;
                        $("#totalItem").load(window.location.href + " #totalItem");
                        window.location.href = window.location.href;
                    } else {
                        if (data.Flag === "0") {
                            alert(data.Message);
                        } else {
                            alert(data.Message);
                        }
                    }
                }
            });
        }
    //$(document).ready(function () {
    //    debugger;

    //}

</script>
<script>
    $('#lightGallery').lightGallery({
        thumbnail: true
    });
</script>