@using ValuesObject
@model OTrangTinh
@{
    ViewBag.Title = "Sửa trang tĩnh " + Model.MaTrangTinh;
    Layout = "~/Areas/Area/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<script src="~/ckfinder/ckfinder.js"></script>
<script>
    //function Browser() {
    //    debugger;

    //    var finder = new CKFinder();
    //    finder.selectActionFunction = function (url) {
    //        $('#Anh').val(url);
    //    };
    //    finder.popup();
    //};

</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li><a href="@Url.Action("Index", "Default")">Dashboard</a></li>
            <li><a href="@Url.Action("Search", "QuanLyTrangTinh")">Danh sách trang tĩnh</a></li>
            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <li class="active">Edit @Model.MaTrangTinh</li>
            }
            else
            {
                <li class="active">Tạo mới  trang tĩnh </li>
            }
        </ul>

    </div>

    <div class="page-content">


        <div class="page-header">

            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <h1>
                    Sửa  trang tĩnh id @Model.MaTrangTinh

                </h1>
            }
            else
            {
                <h1>
                    Tạo mới  trang tĩnh

                </h1>
            }

        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
                            {
                                @Html.HiddenFor(mbox => mbox.MaTrangTinh)
                            }
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Tên trang:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        <input type="text" name="TenTrang" id="TenTrang" class="col-xs-12 col-sm-6" value="@Model.TenTrang" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Chủ đề:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        @Html.DropDownList("MaLoai", (IEnumerable<SelectListItem>)ViewBag.LoaiTrangTinh, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.MaLoai, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Ghi chú:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        @Html.TextAreaFor(m => m.MoTa)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Nội dung:</label>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="clearfix">
                                        @Html.TextAreaFor(m => m.NoiDung)
                                        <script>
                                            CKEDITOR.replace('NoiDung', { customConfig: '/ckeditor/config.js' });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @{var check = (bool)Model.TrangThai ? "checked" : "";}
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="TrangThai">Trạng thái:</label>

                                <div class="checkbox">
                                    <label>
                                        <input name="TrangThai" type="checkbox" class="ace" value="true" @check>

                                        <span class="lbl"> Ẩn/Hiện danh mục</span>
                                        <input name="TrangThai" type="hidden" value="false" />
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" value="Lưu" />
                        }
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<script type="text/javascript">
    $('textarea[class*=autosize]').autosize({ append: "\n" });
    $('textarea.limited').inputlimiter({
        remText: '%n character%s remaining...',
        limitText: 'max allowed : %n.'
    });
</script>

<script type="text/javascript">
    setAdminCurrentUrl('@Url.Action("Update", "QuanLyTrangTinh")');
</script>

<style type="text/css">


    .pick-a-color-markup {
        margin: 0px 0px;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        $(".pick-a-color").pickAColor({
            showSpectrum: true,
            showSavedColors: true,
            saveColorsPerElement: true,
            fadeMenuToggle: true,
            showAdvanced: true,
            showBasicColors: true,
            showHexInput: true,
            allowBlank: true,
            inlineDropdown: true
        });

    });

</script>