@using ValuesObject
@using BookStore2019.Services

@using BookStore2019.Help
@using BookStore2019.Models

@model OAccount
@{
    ViewBag.Title = "Thông tin tài khoản";
    KhachHangService khachHangService = new KhachHangService();
    var customer = khachHangService.GetById((int)Model.MaKhach);
    var list = ViewBag.ListOrders as List<OHoaDonBan>;
    CTHDBService cTHDBService = new CTHDBService();

    Pager pager = ViewBag.Pager;
}

<div class="container info-user">
    <div class="row">
        <div class="col-sm-4">
            <h3>Thông tin </h3>
            <span class="message"></span>
            <div class="form-group row">
                <label for="UserName" class="col-sm-3">Tên đăng nhập</label>
                <div class="clearfix col-sm-6">
                    <p>@Model.TenDN</p>
                </div>
                <input type="hidden" name="user_name" value="@Model.TenDN" />
            </div>
            <div class="form-group row">
                <label for="UserName" class="col-sm-3">Tên khách</label>
                <div class="clearfix col-sm-6">
                    <p>@customer.TenKhach</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="UserName" class="col-sm-3">EMail</label>
                <div class="clearfix col-sm-6">
                    <p>@Model.Email</p>
                </div>
            </div>

            <div class="form-group row">
                <label for="UserName" class="col-sm-3">Địa chỉ</label>
                <div class="clearfix col-sm-6">
                    <p>@customer.DiaChi</p>
                </div>
            </div>
            <div class="form-group row">
                <label for="UserName" class="col-sm-3">Điện thoại</label>
                <div class="clearfix col-sm-6">
                    <p>@customer.DienThoai</p>
                </div>
            </div>
            <div class="form-group row">
                <button data-target="#password_modal" data-toggle="modal" class="btn btn-success btnChange">Đổi mật khẩu</button>
                <button data-target="#modal_edit" data-toggle="modal" class="btn btn-primary">Sửa đổi thông tin</button>
            </div>
        </div>
        <div class="col-sm-8">
            <h3>Danh sách đơn hàng</h3>
            @if (list.Count > 0 && list != null)
            {
                decimal total = 0;
                <span class="mess_detail"></span>
                <table class="table">
                    <tr class="header_name">
                        <td>Ngày đặt</td>
                        <td>Tên sản phẩm</td>
                        <td>Số lượng</td>
                        <td>Giá</td>
                        <td>Thành tiền</td>
                        <td>Trạng thái</td>
                        <td></td>
                    </tr>

                    @foreach (var item in list.OrderBy(m => m.NgayBan))
                    {
                        var listDetail = cTHDBService.GetAll(item.MaHDB) as List<OCTHDB>;
                        if (listDetail.Count > 0 && listDetail != null)
                        {
                            foreach (var detail in listDetail)
                            {
                                <tr>
                                    <td>@item.NgayBan.ToString("dd/MM/yy")</td>
                                    <td>
                                        <a href="@Url.Action("Detail","Product",new { shortname=detail.ShortName})">@detail.TenSanPham</a>
                                    </td>
                                    <td>@detail.SoLuong</td>
                                    <td width="20%">@detail.GiaBan.ToString("#,##") đ</td>
                                    <td width="20%">@detail.ThanhTien.ToString("#,##") đ</td>
                                    <td>
                                        @if (item.TrangThai == 0)
                                        {
                                            <label class="progress-bar bg-danger">Chưa giao</label>
                                        }
                                        else if (item.TrangThai == 1)
                                        {
                                            <label class="progress-bar bg-warning">Đang giao</label>
                                        }
                                        else
                                        {
                                            <label class="progress-bar bg-success">Đã giao</label>
                                        }

                                    </td>
                                    <td>
                                        <a href="javascript:" onclick="delete_detail('@item.MaHDB','@detail.MaSanPham','@detail.SoLuong')">
                                            <i class="fas fa-trash-alt trash-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                                total += detail.ThanhTien;
                            }

                        }
                    }

                    <tr class="red_total">
                        <td colspan="3">Tổng tiền</td>
                        <td colspan="7">@total.ToString("#,##") đ</td>
                    </tr>
                </table>
                <div class="trang">
                    <div class="pagination">
                        <ul class="pagination">
                            @if (pager.HasPreviousPage)
                            {
                                <li>
                                    @Html.ActionLink("<<", "Info", new { username=Model.TenDN, page = pager.FirstPageIndex })
                                </li>
                                <li>
                                    @Html.ActionLink("<", "Info", new { username = Model.TenDN, page = pager.PreviousPageIndex })
                                </li>


                            }

                            @foreach (int page in ViewBag.Pager)
                            {
                                <li class="@((pager.CurrentPageIndex==page)?"active":"")">
                                    @Html.ActionLink(page.ToString(), "Info", new { username = Model.TenDN, page = page })
                                </li>

                            }

                            @if (pager.HasNextPage)
                            {
                                <li>
                                    @Html.ActionLink(">", "Info", new { username = Model.TenDN, page = pager.NextPageIndex })
                                </li>
                                <li>
                                    @Html.ActionLink(">>", "Info", new { username = Model.TenDN, page = pager.LastPageIndex })
                                </li>


                            }
                        </ul>


                    </div>

                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="password_modal" tabindex="-1" role="dialog" aria-labelledby="password_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="control-group">
                        <label for="current_password" class="control-label">Nhập mật khẩu cũ</label>
                        <div class="controls">
                            <input type="password" name="current_password" class="form-control">
                            <span class="error mess_old"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="new_password" class="control-label">Nhập mật khẩu mới</label>
                        <div class="controls">
                            <input type="password" name="new_password" class="form-control">
                            <span class="error mess_new"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="confirm_password" class="control-label">Nhập lại mật khẩu mới</label>
                        <div class="controls">
                            <input type="password" name="confirm_password" class="form-control">
                            <span class="error mess_con"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="saveChange()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_edit" tabindex="-1" role="dialog" aria-labelledby="password_modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin cá nhân</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="MaKhach" value="@customer.MaKhach" />
                    <div class="control-group">
                        <label for="fullname" class="control-label">Họ tên</label>
                        <span class="error mess_full"></span>
                        <div class="controls">
                            <input type="text" name="fullname" class="form-control" value="@customer.TenKhach">

                        </div>
                    </div>
                    <div class="control-group">
                        <label for="address" class="control-label">Địa chỉ</label>
                        <span class="error mess_address"></span>
                        <div class="controls">
                            <input type="text" name="address" class="form-control" value="@customer.DiaChi">

                        </div>
                    </div>
                    <div class="control-group">
                        <label for="Email" class="control-label">Email</label>
                        <span class="error mess_email"></span>
                        <div class="controls">
                            <input type="email" name="email" class="form-control" value="@customer.Email">

                        </div>
                    </div>
                    <div class="control-group">
                        <label for="phone" class="control-label">Điện thoại</label>
                        <span class="error mess_phone"></span>
                        <div class="controls">
                            <input type="text" name="phone" class="form-control" value="@customer.DienThoai">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="saveEdit()">Lưu</button>
            </div>
        </div>
    </div>
</div>
<script>
    function saveChange() {

        var oldpass = $("input[name='current_password']").val();
        var new_password = $("input[name='new_password']").val();
        var comfirmpass = $("input[name='confirm_password']").val();
        var makhach = $("input[name='MaKhach']").val();
        var username = $("input[name='user_name']").val();

        if (oldpass == null || oldpass=="") {
            $(".mess_old").text("Bạn phải nhập trường này");
            return false;
        }
        if (new_password == null || new_password == "") {
            $(".mess_new").text("Bạn phải nhập trường này");
            return false;
        }
        if (comfirmpass == null || comfirmpass == "") {
            $(".mess_con").text("Bạn phải nhập trường này");
            return false;
        }
        if (new_password != comfirmpass) {
            alert("Mật khẩu và xác thực mật khẩu không khớp nhau!");
            return false;
        }
        $.ajax({
            url: '@Url.Action("ChangePass", "Account")',
            data: {
                oldpass: oldpass,
                newpass: new_password,
                username: username,
                makhach: makhach,
            },
            type: 'post',
            dataType: 'json',
            traditional: true,
            success: function (data) {

                if (data.Success) {

                    $(".message").text(data.Message);

                } else {
                    $(".message").text(data.Message);

                }
            },
        });
    }
</script>
<script>

    function saveEdit() {

        var email = $("input[name='email']").val();
        var address = $("input[name='address']").val();
        var fullname = $("input[name='fullname']").val();
        var makhach = $("input[name='MaKhach']").val();
        var phone = $("input[name='phone']").val();

        var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

        if (fullname == null || fullname == "") {
            $(".mess_full").text("Bạn phải nhập trường này");
            return false;
        }
        if (address == null || address == "") {
            $(".mess_address").text("Bạn phải nhập trường này");
            return false;
        }
        if (email == null || email == "") {
            $(".mess_email").text("Bạn phải nhập trường này");
            return false;
        }
        if (reg.test(email)) {
            $(".mess_email").text("Email sai định dạng!");
        }

        if (phone == null || phone == "") {
            $(".mess_phone").text("Bạn phải nhập trường này");
            return false;
        }

        $.ajax({
            url: '@Url.Action("Update", "Account")',
            data: {
                makhach: makhach,
                fullname: fullname,
                address: address,
                phone: phone,
                email: email,
            },
            type: 'post',
            dataType: 'json',
            traditional: true,
            success: function (data) {

                if (data.Success) {

                    $(".message").text(data.Message);
                    window.location.href = window.location.href;
                } else {
                    $(".message").text(data.Message);

                }
            },
        });
    }
</script>

<script>
    function delete_detail(mahdb, masp, soluong) {
        if (mahdb != null && masp != null && soluong != null) {
            debugger;
            bootbox.confirm({
                title: "Thông báo!",
                message: "Đồng ý xóa đơn hàng có mã : '" + mahdb + "' và mã sản phẩm '" + masp + "' ?",
                buttons: {
                    'cancel': {
                        label: 'Cancel',
                        className: 'btn mybtn-Button btnButton'
                    },
                    'confirm': {
                        label: 'OK',
                        className: 'btn mybtn-Button btnButton'
                    }
                },
                callback: function (result) {
                    debugger;
                    if (result) {
                        $.ajax({
                            url: '@Url.Action("Delete", "ProductAction")',
                            data: {
                                mahdb: mahdb,
                                masp: masp,
                                soluong: soluong,
                            },
                            type: 'post',
                            dataType: 'json',
                            traditional: true,
                            success: function (data) {

                                if (data.Success) {

                                    //$(".mess_detail").text(data.Message);
                                    alert(data.Message);
                                    window.location.href = window.location.href;
                                } else {
                                    alert(data.Message);
                                }
                            },
                        });
                    }
                }
            });
        } else {
            alert("Chưa chọn bản ghi cần xóa!");
            return;

        }
    }
</script>