@model BookStore2019.Models.Login

@{
    ViewBag.Title="Đăng nhập";
}
<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-sm-8">
            <h4 class="title_login">Đăng nhập</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @name = "UserName", @id = "UserName" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @name = "Password", @id = "Password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label for="IsRemember" class="col-md-3">Ghi nhớ tài khoản</label>
                <div class="col-md-9">
                    <div class="checkbox">
                        <input type="checkbox" name="IsRemember" value="" class="check-box"/>
                        
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-2 col-md-9">
                    <input type="submit" value="Đăng nhập" class="btn btn-success" />
                    <p>Nếu bạn chưa có tài khoản hãy đăng nhập <a class="btnRegister" href='@Url.Action("Register", "Account")'>Đăng ký</a></p>
                </div>
            </div>
        </div>
    }

</div>