@using BookStore2019.Services
@using ValuesObject

@using BookStore2019.Help
@using BookStore2019.Models
@model List<OSanPham>
@{

    var category = ViewBag.Category as OChuDe;
    ViewBag.Title = "Danh sách sách theo chủ đề " + category.Ten;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ChuDeService chuDeService = new ChuDeService();
    var listCate = chuDeService.GetAllActive();
    Pager pager = ViewBag.Pager;

}
<div class="product content-top">
    <div class="container">
        <div class="row">
            @Html.Partial("Categories")
            
            <div class="col-sm-9">
                @if (Model.Count > 0 && Model != null)
                {
                    var i = 1;
                    foreach (var item in Model)
                    {
                        if (i % 4 == 0)
                        {
                            <div class="col-12 col-md-3">
                                <a href="@Url.Action("Detail","Sach",new { shortname=item.TenVanTat})" title="@item.TenSanPham">
                                    <img src="@Url.Content(item.Anh)" alt="Alternate Text" class="img-fluid" />
                                </a>
                                <h3 class="title_name">@Helper.CutText(item.TenSanPham)</h3>

                                <button type="button" class="btn btn-success" onclick="updateCart('@item.MaSanPham')">
                                    <i class="fas fa-cart-plus"></i>
                                    @String.Format("{0:#,##0.##}", item.GiaBan) VND
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        }
                        else
                        {
                            <div class="col-12 col-md-3">
                                <a href="@Url.Action("Detail","Sach",new { shortname=item.TenVanTat})" title="@item.TenSanPham">
                                    <img src="@Url.Content(item.Anh)" alt="Alternate Text" class="img-fluid" />
                                </a>
                                <h3 class="title_name">@Helper.CutText(item.TenSanPham)</h3>

                                <button type="button" class="btn btn-success" onclick="updateCart('@item.MaSanPham')">
                                    <i class="fas fa-cart-plus"></i>
                                    @String.Format("{0:#,##0.##}", item.GiaBan) VND
                                </button>
                            </div>
                        }
                        i++;
                    }
                }
                else
                {
                    <div>
                        <p>Đang cập nhật dữ liệu</p>
                    </div>
                }
                <div class="clearfix"></div>
                <div class="trang">
                    <div class="pagination">
                        <ul class="pagination">
                            @if (pager.HasPreviousPage)
                            {
                                <li>
                                    @Html.ActionLink("<<", "GetByCate", new {id=category.MaChuDe, page = pager.FirstPageIndex })
                                </li>
                                <li>
                                    @Html.ActionLink("<", "GetByCate", new { id = category.MaChuDe, page = pager.PreviousPageIndex })
                                </li>


                            }

                            @foreach (int page in ViewBag.Pager)
                            {
                                <li>
                                    @Html.ActionLink(page.ToString(), "GetByCate", new { id = category.MaChuDe, page = page })
                                </li>

                            }

                            @if (pager.HasNextPage)
                            {
                                <li>
                                    @Html.ActionLink(">", "GetByCate", new { id = category.MaChuDe, page = pager.NextPageIndex })
                                </li>
                                <li>
                                    @Html.ActionLink(">>", "GetByCate", new { id = category.MaChuDe, page = pager.LastPageIndex })
                                </li>


                            }
                        </ul>


                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
<div style="clear:both"></div>


<script>
    setAdminCurrentUrl('@Url.Action("GetByCate", "Sach")', '@Url.Action("GetAll", "Sach")');
</script>

<script>
    function updateCart(id) {
        //debugger;
        var quanlity = 1;
        var idpro = id;

            $.ajax({
                url: '@Url.Action("AddToCart", "ProductAction")',
                data: {
                    proid: idpro,
                    quanlity: quanlity
                },
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    debugger;
                    if (data.Success) {
                        if (data.Flag === "0") {
                            var totalItems = 0;
                            for (var i = 0; i < data.Cart.ListItem.length; i++) {
                                var Item = data.Cart.ListItem[i];
                                totalItems += Item.Quantity;
                            }
                            $("#totalItem").text(totalItems);
                            $("#totalItem").load(window.location.href + " #totalItem");
                            //alert("Đã thêm sản phẩm vào giỏ hàng!");
                        } else {
                            alert("Sản phẩm chỉ còn lại");
                        }
                    } else {
                        alert("Thêm sản phẩm thất bại");
                    }
                }
            });
        }
    //$(document).ready(function () {
    //    debugger;

    //}

</script>