@using ValuesObject
@using BookStore2019.Help
@model OTinTuc
@{
    ViewBag.Title = Model.TieuDe;
    var listHot = ViewBag.ListHot as List<OTinTuc>;
}
<div class="container news">
    
    <div class="row">
        <div class="col-md-9">
            <div class="details">
                <div class="title_new">
                    @Model.TieuDe
                </div>
                <div class="new_date">
                    @Model.NgayTao.ToString("dd/MM/yyyy")
                </div>
                <hr />
                <div class="detail_new">
                    @MvcHtmlString.Create(Model.NoiDung)
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="title_news">Tin nổi bật</h2>
            <div class="new-hot">
                @if (listHot.Count > 0 && listHot != null)
                {
                    foreach (var item in listHot.Take(6))
                    {
                        <div class="row new-box">
                            <div class="hot-img">
                                <a href="@Url.Action("Detail","TinTuc",new {shortname=item.ShortName })">
                                    <img src="@Url.Content(item.Anh)" alt="Alternate Text" class="img-fluid" />
                                </a>
                            </div>
                            <div class="new-summary">
                                <a href="@Url.Action("Detail","TinTuc",new {shortname=item.ShortName })">
                                    <div class="title_new">
                                        @item.TieuDe
                                    </div>
                                </a>
                                <div class="new_date">
                                    Ngày tạo: @item.NgayTao.ToString("dd/MM/yyyy")
                                </div>
                                <div class="summary">
                                    @if (item.MoTa != null)
                                    {
                                        <div>
                                            @Helper.CutText(item.MoTa)
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>
<script>
    setAdminCurrentUrl('@Url.Action("Detail", "TinTuc")', '@Url.Action("GetAll", "TinTuc")');
</script>