@using ValuesObject
@model ONhaXuatBan
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Area/Views/Shared/_Layout.cshtml";
}
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li><a href="@Url.Action("Index", "Default")">Dashboard</a></li>
            <li><a href="@Url.Action("Search", "QuanLyNXB")">Danh sách nhà xuất bản</a></li>
            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <li class="active">Edit @Model.MaNXB</li>
            }
            else
            {
                <li class="active">Tạo mới  nhà xuất bản </li>
            }
        </ul>

    </div>

    <div class="page-content">


        <div class="page-header">

            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <h1>
                    Sửa  nhà xuất bản id @Model.MaNXB

                </h1>
            }
            else
            {
                <h1>
                    Tạo mới  nhà xuất bản

                </h1>
            }

        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
                            {
                                @Html.HiddenFor(mbox => mbox.MaNXB)
                            }
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Tên nhà xuất bản:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        <input type="text" name="TenNXB" id="TenNXB" class="col-xs-12 col-sm-6" value="@Model.TenNXB" required />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Địa chỉ:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        <input type="text" name="DiaChi" id="DiaChi" class="col-xs-12 col-sm-6" value="@Model.DiaChi"  />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Số điện thoại:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        <input type="text" name="SDT" id="SDT" class="col-xs-12 col-sm-6" value="@Model.SDT"  />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Email:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        <input type="email" name="Email" id="Email" class="col-xs-12 col-sm-6" value="@Model.Email"  />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Ghi chú:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        @Html.TextAreaFor(m => m.GhiChu)
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @{var check = (bool)Model.IsActive ? "checked" : "";}
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="IsActive">Trạng thái:</label>

                                <div class="checkbox">
                                    <label>
                                        <input name="IsActive" type="checkbox" class="ace" value="true" @check>

                                        <span class="lbl"> Ẩn/Hiện danh mục</span>
                                        <input name="IsActive" type="hidden" value="false" />
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" value="Lưu" />
                        }
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<script type="text/javascript">
    $('textarea[class*=autosize]').autosize({ append: "\n" });
    $('textarea.limited').inputlimiter({
        remText: '%n character%s remaining...',
        limitText: 'max allowed : %n.'
    });
</script>

<script type="text/javascript">
    setAdminCurrentUrl('@Url.Action("Update", "QuanLyNXB")');
</script>

<style type="text/css">


    .pick-a-color-markup {
        margin: 0px 0px;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        $(".pick-a-color").pickAColor({
            showSpectrum: true,
            showSavedColors: true,
            saveColorsPerElement: true,
            fadeMenuToggle: true,
            showAdvanced: true,
            showBasicColors: true,
            showHexInput: true,
            allowBlank: true,
            inlineDropdown: true
        });

    });

</script>